body { background-color: #181A1B; }

main { margin: 6em 10em 2em 10em; }

form .btn:not(.modal-delete-btn) { border-radius: 0; border-width: 1px 1px 1px 1px; border-style: solid; border-color: #56595D; background-color: #232224; }

form .btn:not(.modal-delete-btn):hover { border-color: #7a7d81; }

.input-group > .form-select { flex-grow: 0; flex-shrink: 0; width: auto; }

input[type=number] { appearance: textfield; -moz-appearance: textfield; }

input:placeholder-shown { text-overflow: ellipsis; }

.custom-tooltip { --bs-tooltip-bg: var(--bs-secondary); --bs-tooltip-color: var(--bs-white); }

.navbar { background-color: #232525; }

.navbar .navbar-nav .nav-link { font-size: 1.3rem; }

.navbar .navbar-brand.abs .form-control { width: 60%; border-style: solid; border-color: #56595D; }

.navbar-brand.abs .form-select, #home .tab-content .edit .form-select { width: auto; background-color: #262A2D; color: #DEDCD9; border-width: 1px; border-style: solid; border-color: #56595D; }

#home .sticky-lg-top { top: 6em; }

#home #v-pills-tab { background-color: #1B1E1F; width: 15rem; border: 1px solid #383D3F; border-radius: 0.5rem; }

#home #v-pills-tab .dropend { height: 3rem; }

#home #v-pills-tab .dropend button { color: #aaaaaa; }

#home #v-pills-tab .dropend button.active { color: #e7e5e5; }

#home #v-pills-tab .dropend button.highlight { color: #e7e5e5; }

#home #v-pills-tab .dropend .nav-link { width: 80%; background-color: #1B1E1F; }

#home #v-pills-tab .dropend .nav-link:hover { color: #ebe7e7; border: 1px solid #ebe7e7; }

#home #v-pills-tab .dropend .nav-link .left_word { float: left; text-align: left; }

#home #v-pills-tab .dropend .nav-link .right_number { float: right; text-align: right; }

#home #v-pills-tab .dropend .dropdown-toggle:hover { color: #ebe7e7; border: 1px solid #ebe7e7; }

#home #v-pills-tab .dropend .filters { background-color: #1B1E1F; border: 1px solid #383D3F; margin-left: 2rem; }

#home #v-pills-tab .dropend .filters button.dropdown-item { width: 100%; height: 100%; }

#home .tab-content { background-color: #1B1E1F; width: 100%; border: 1px solid #383D3F; border-radius: 0.5rem; }

#home .tab-content .content-title { margin: 0.6em 0.8em 0 0.8em; font-size: 1.8rem; }

#home .tab-content .tab-pane .d-flex .image, #home .tab-content .tab-pane .d-flex .score, #home .tab-content .tab-pane .d-flex .status, #home .tab-content .tab-pane .d-flex ._progress, #home .tab-content .tab-pane .d-flex .edit { text-align: center; }

#home .tab-content .tab-pane .list-head { margin: 1em 0 0em 0; }

#home .tab-content .tab-pane .list-head .image, #home .tab-content .tab-pane .list-section .image { margin-left: 1em !important; text-align: center; }

#home .tab-content .tab-pane .list-head .image img, #home .tab-content .tab-pane .list-section .image img { width: 3rem; height: 3rem; object-fit: cover; }

#home .tab-content .tab-pane .list-head .image .empty-div, #home .tab-content .tab-pane .list-section .image .empty-div { width: 3rem; height: 3rem; background-color: #1B1E1F; }

#home .tab-content .tab-pane .list-head .title, #home .tab-content .tab-pane .list-section .title { flex: 3; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; line-height: 2; }

#home .tab-content .tab-pane .list-head .score, #home .tab-content .tab-pane .list-head .status, #home .tab-content .tab-pane .list-head ._progress, #home .tab-content .tab-pane .list-section .score, #home .tab-content .tab-pane .list-section .status, #home .tab-content .tab-pane .list-section ._progress { flex: 1; }

#home .tab-content .tab-pane .list-head .score .btn, #home .tab-content .tab-pane .list-head .status .btn, #home .tab-content .tab-pane .list-head ._progress .btn, #home .tab-content .tab-pane .list-section .score .btn, #home .tab-content .tab-pane .list-section .status .btn, #home .tab-content .tab-pane .list-section ._progress .btn { background-color: #1B1E1F; color: #d1cdc7; border-width: 0; }

#home .tab-content .tab-pane .list-head .score .btn:hover, #home .tab-content .tab-pane .list-head .status .btn:hover, #home .tab-content .tab-pane .list-head ._progress .btn:hover, #home .tab-content .tab-pane .list-section .score .btn:hover, #home .tab-content .tab-pane .list-section .status .btn:hover, #home .tab-content .tab-pane .list-section ._progress .btn:hover { border: 1px solid #56595D; }

#home .tab-content .tab-pane .list-head .score .dropdown-menu, #home .tab-content .tab-pane .list-head .status .dropdown-menu, #home .tab-content .tab-pane .list-head ._progress .dropdown-menu, #home .tab-content .tab-pane .list-section .score .dropdown-menu, #home .tab-content .tab-pane .list-section .status .dropdown-menu, #home .tab-content .tab-pane .list-section ._progress .dropdown-menu { background-color: #24292F; color: #d1cdc7; min-width: 0; padding: 1em; }

#home .tab-content .tab-pane .list-head .edit, #home .tab-content .tab-pane .list-section .edit { flex: 1; display: flex; justify-content: center; }

#home .tab-content .tab-pane .list-head .edit .btn, #home .tab-content .tab-pane .list-section .edit .btn { border-width: 1; border-color: transparent; background-color: #1B1E1F; color: #d1cdc7; }

#home .tab-content .tab-pane .list-head .edit .btn:hover, #home .tab-content .tab-pane .list-section .edit .btn:hover { border-width: 1px; border-color: #56595D; }

#search main .container-grid { display: grid; grid-template-columns: repeat(auto-fill, 12rem); justify-content: center; grid-gap: 1.5rem 1rem; }

#search main .container-grid .card .poster { object-fit: cover; height: 18rem; }

#search main .container-grid .card .image-not-found { object-fit: contain; height: 18rem; background-color: #2c3032; }

#search main .container-grid .card .card-body { padding: .6rem; }

#search main .container-grid .card .card-body .card-title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 0; }

#profile form.import .import-title { font-size: 1.2rem; margin-bottom: .5em; text-align: center; }

.modal-content .poster { border-radius: 10px; width: 10rem; height: 15rem; object-fit: cover; }

.modal-content .image-not-found { object-fit: contain; width: 10rem; height: 15rem; background-color: #2c3032; }

.modal-content .content { color: #c7c4bc; margin-left: 1em; position: relative; }

.modal-content .content * { margin-bottom: .2em; }

.modal-content .content .overview { /* only show 3 lines of overview */ overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

.modal-content .content .genres { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

.modal-content form { column-gap: .6em; row-gap: 1em; }

.modal-content form .descriptor { font-size: .8rem; margin-bottom: .4em; }

.modal-content form .form-select { border-radius: .2rem; }

.modal-content form .input-div .form-control { border-radius: .2rem; }

@media screen and (min-width: 768px) { .navbar .hidden { display: none; } .navbar .navbar-brand.abs { position: absolute; width: auto; left: 50%; transform: translateX(-50%); text-align: center; } }

@media screen and (max-width: 992px) { main { margin: 5em 1em 1em 1em; } .navbar .navbar-brand.abs { width: 45%; margin-left: 1rem; } #home .sticky-lg-top { top: 5em; } #home .tab-content .tab-pane .list-section .status, #home .tab-content .tab-pane .list-head .status { width: 20%; } .modal-content form div { width: 100%; } }

@media screen and (max-width: 767px) { .navbar .hidden { display: block; } .navbar .hidden .nav-link { font-size: 1.7rem; } .navbar .navbar-brand.abs { width: 70%; margin: auto; } .navbar .navbar-brand.abs .form-control { width: 1%; } #home .tab-content { margin-top: 1em; } }

@media screen and (max-width: 576px) { #home .tab-content .tab-pane .list-head .title, #home .tab-content .tab-pane .list-section .title { flex: 2; } #home .tab-content .tab-pane .list-head .status, #home .tab-content .tab-pane .list-head ._progress, #home .tab-content .tab-pane .list-section .status, #home .tab-content .tab-pane .list-section ._progress { display: none; } .modal-content .content .genres { display: none; } .modal-content form div { width: 100%; } }
