<div>
    <button unicorn:click="open_form" unicorn:partial.id="content-{{media.media_type}}_{{media.id}}" type="button" class="btn open-form-btn" data-bs-toggle="modal" data-bs-target="#modal-{{media.media_type}}_{{media.id}}">
      <i class="bi bi-pencil-square"></i>
    </button>
      
    <div class="modal fade" id="modal-{{media.media_type}}_{{media.id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content" id="content-{{media.media_type}}_{{media.id}}">

            <div class="modal-header">
              <h1 class="modal-title fs-5">{{media.title}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <form class="d-flex mt-4 flex-wrap" method="post" id="form-{{media.media_type}}_{{media.id}}">
                {% csrf_token %}
                <input type="hidden" name="form-id" value="{{media.media_type}}_{{media.id}}">
                <div>
                  <div class="descriptor">Status</div>
                  <select name="status" class="form-select">
                    <option value="Completed" {% if status == "Completed" %}selected{% endif %}>Completed</option>
                    <option value="Planning" {% if status == "Planning" %}selected{% endif %}>Planning</option>
                    <option value="Watching" {% if status == "Watching" %}selected{% endif %}>Watching</option>
                    <option value="Paused" {% if status == "Paused" %}selected{% endif %}>Paused</option>
                    <option value="Dropped" {% if status == "Dropped" %}selected{% endif %}>Dropped</option>
                  </select>
                </div>
              
                <div class="flex-grow-1">
                  <div class="descriptor">Score</div>
                  <input type="number" class="form-control bg-dark text-white" name="score" value="{{score}}" step="0.1" min="0" max="10">
                </div>
                
                <div class="flex-grow-1">
                  <div class="descriptor">Progress</div>
                  <input type="number" class="form-control bg-dark text-white" name="progress" value="{{progress}}" step="1" min="0">
                </div>
            
                <div class="flex-grow-1">
                  <div class="descriptor">Start Date</div>
                  <input type="date" class="form-control bg-dark text-white" name="start" value="{{start_date|date:'Y-m-d'}}">
                </div>
            
                <div class="flex-grow-1">
                  <div class="descriptor">End Date</div>
                  <input type="date" class="form-control bg-dark text-white" name="end" value="{{end_date|date:'Y-m-d'}}">
                </div>
              </form>
            </div>

            <div class="modal-footer d-flex justify-content-between">
              <form method="post">
                {% csrf_token %}
                {% if in_db %}
                  <input type="hidden" name="form-id" value="{{media.media_type}}_{{media.id}}">
                  <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                {% endif %}
              </form>
              <button type="submit" form="form-{{media.media_type}}_{{media.id}}" class="btn btn-primary">Save</button>
            </div>

          </div>
        </div>
    </div>
</div>
