{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load app_extras %}

{% block title %}
  Lists - Yamtrack
{% endblock title %}

{% block container %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>My Lists</h1>
    <button type="button"
            class="btn btn-secondary h-75"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">Create List</button>
  </div>

  <div class="modal fade"
       id="exampleModal"
       tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new list</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">{% crispy form %}</div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" form="new-list-form">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 
  {% for custom_list in custom_lists %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-xxl-1 col-md-2 col-sm-3">
          {% with first=custom_list.items.first %}
            {% if first %}
              <img src="{{ first.image }}"
                   class="w-100 h-100 object-fit-cover rounded-start bg-body-secondary"
                   alt="{{ custom_list.name }}">
            {% else %}
              <img src="{{ IMG_NONE }}"
                   class="w-100 h-100 rounded-start bg-body-secondary"
                   alt="{{ custom_list.name }}">
            {% endif %}
          {% endwith %}
        </div>
        <div class="col-xxl-11 col-md-10 col-sm-9 card-body d-flex flex-column align-items-start">
          <h2 class="fs-4">{{ custom_list.name }}</h2>
          <p class="description mb-2">{{ custom_list.description }}</p>
          {% with item_count=custom_list.items.count %}
            <div class="mt-auto">
              <small class="text-body-secondary">{{ item_count }} item{{ item_count|pluralize }}</small>
            </div>
          {% endwith %}
        </div>
      </div>
    </div>
  {% empty %}
    No custom lists found.
  {% endfor %}
 
 
{% endblock container %}
