{% extends "base.html" %}
{% load static %}

{% block title %}Home - Yamtrack{% endblock title %}

{% block content %}

  {% if watching|length == 0 %}
    <div class="no-content">
      <div>
        <h2 class="alert-heading text-center header-text">No media in progress</h2>
        <p>The homepage will show the media you are currently consuming.</p>
      </div>
    </div>

  {% else %}
    <div class="home container p-3">

      {% for media_type, watching_list in watching.items %}
        <div class="mb-4">
          <div class="text-center mb-2">{{ media_type|capfirst }} in Progress</div>
          <div class="grid">
            {% for media in watching_list %}
              <div class="card text-bg-dark mx-auto">
                <a {% if media.season_number != None %}
                      href="{% url 'season_details' media_id=media.media_id title=media|slugify season_number=media.season_number %}">
                    {% else %}
                      href="{% url 'media_details' media_type=media_type media_id=media.media_id title=media|slugify %}">
                  {% endif %}
                  <img
                    data-src="{{ media.image.url }}"
                    class="card-img lazyload {% if media.image.url == "/media/none.svg" %} image-not-found {% else %} poster {% endif %}"''
                    alt="{{ media }}"
                    data-expand="1000"
                  />
                </a>

                <div class="card-img-overlay">
                  <div class="card-title text-center">
                    {{ media }}
                  </div>

                  <div class="card-text d-flex justify-content-center align-items-center" id="{{ media_type }}_{{ media.media_id }}{% if media.season_number != None %}_{{ media.season_number }}{% endif %}">
                    {% include "app/components/progress.html" with media_type=media_type media=media csrf_token=csrf_token only %}
                  </div>
                </div>                
              </div>

            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content %}

{% block extra_scripts %}
  <script src="{% static "js/lazysizes.min.js" %}" async=""></script>
{% endblock extra_scripts %}