{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  {% if media_type == "tv" %}
    TVs - Yamtrack
  {% else %}
    {{ media_type|title }}s - Yamtrack
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="mb-3">
      <button type="button"
              class="btn btn-secondary"
              data-bs-toggle="modal"
              data-bs-target="#FilterModal">
        <i class="bi bi-funnel-fill"></i>
      </button>
      <div class="modal fade"
           id="FilterModal"
           tabindex="-1"
           aria-labelledby="FilterModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <form method="get">
                {{ filter_form|crispy }}
                <div class="text-center">
                  <button class="btn btn-secondary" type="submit">Filter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      {% for media in media_list %}
        <div class="card text-bg-dark mx-auto">
          <a href={% if media.season_number is None %}
                    "{% url 'media_details' media_type=media_type media_id=media.media_id title=media.title|slugify %}"
                  {% else %}
                    "{% url 'season_details' media_id=media.media_id title=media.title|slugify season_number=media.season_number %}"
                  {% endif %}>
            <img class="card-img lazyload {% if media.image == "none.svg" %} image-not-found {% else %} poster {% endif %}"
                 data-src="{{ media.image.url }}"
                 data-expand="1000"
                 alt="{{ media }}" />
          </a>
          <div class="card-img-overlay">
            <div class="card-title text-center">{{ media }}</div>
            <div class="card-text d-flex justify-content-evenly align-items-center">
              {{ media.score }}
              {% if media.season_number %}
                {% include "app/components/open_track_form.html" with media_type="season" media_id=media.media_id season_number=media.season_number title=media.title only %}
              {% else %}
                {% include "app/components/open_track_form.html" with media_type=media_type media_id=media.media_id title=media.title only %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
{% block extra_scripts %}
  <script src="{% static "js/lazysizes.min.js" %}" async=""></script>
{% endblock extra_scripts %}
