{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ media.title }} - Yamtrack
{% endblock title %}
{% block content %}
  <div class="container p-3">
    <div class="details-top d-flex mb-4">
      <div class="image">
        {% if media.image != "none.svg" %}
          <img class="poster" src="{{ media.image }}" alt="media.title" />
        {% else %}
          <img class="image-not-found"
               src="{% get_media_prefix %}{{ media.image }}"
               alt="media.title" />
        {% endif %}
      </div>
      <div class="details-data d-flex flex-column align-items-start">
        <div class="title header-text">{{ media.title }}</div>
        <div class="original-type">
          <strong>Type:</strong>
          {{ media.original_type }}
        </div>
        <div class="start-date">
          <strong>Release date:</strong>
          {{ media.start_date }}
        </div>
        <div class="status">
          <strong>Status:</strong> {{ media.status }}
        </div>
        <div class="synopsis">
          <strong>Synopsis:</strong>
          {{ media.synopsis }}
        </div>
        <div class="episodes">
          {% if media.num_episodes %}
            <strong>Total Episodes:</strong> {{ media.num_episodes }}
          {% elif media.num_chapters %}
            <strong>Total Chapters:</strong> {{ media.num_chapters }}
          {% endif %}
        </div>
        {% if media.runtime %}
          <div class="runtime">
            <strong>Runtime:</strong> {{ media.runtime }}
          </div>
        {% endif %}
        <div class="genres">
          <strong>Genres:</strong>
          {% for genre in media.genres %}
            {{ genre.name }}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
        <div class="buttons-group">
          {% include "app/components/open_form_modal.html" with media_type=media.media_type media_id=media.media_id title=media only %}
        </div>
      </div>
    </div>
    {% if seasons %}
      <div class="mt-3 fs-5">
        Seasons
      </div>
      <div class="grid">
        {% for season in seasons %}
          <div class="card text-bg-dark mx-auto">
            <a href="{% url 'season_details' media_id=media.id title=media.title|slugify season_number=season.season_number %}">
              <img {% if season.image == "none.svg" %} src="{% get_media_prefix %}{{ season.image }}" class="card-img image-not-found" {% else %} src="{{ season.image }}" class="card-img poster" {% endif %}
                   alt="{{ season }}" />
            </a>
            <div class="card-img-overlay">
              <div class="card-title text-center">{{ season.title }}</div>
              <div class="card-text d-flex justify-content-center align-items-center">
                {% include "app/components/open_form_modal.html" with media_type="season" media_id=media.media_id season_number=season.season_number title=media only %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% for related_data in related_data_list %}
      {% if related_data.data %}
        <div class="mt-3 fs-5">
          {{ related_data.name }}
        </div>
        <div class="grid">
          {% for related in related_data.data %}
            <div class="card text-bg-dark mx-auto">
              <a href="{% url 'media_details' media_type=media.media_type media_id=related.id title=related.title|slugify %}">
                <img {% if related.image == "none.svg" %} src="{% get_media_prefix %}{{ related.image }}" class="card-img image-not-found" {% else %} src="{{ related.image }}" class="card-img poster" {% endif %}
                     alt="{{ related.title }}" />
              </a>
              <div class="card-img-overlay">
                <div class="card-title text-center">{{ related.title }}</div>
                <div class="card-text d-flex justify-content-center align-items-center">
                  {% include "app/components/open_form_modal.html" with media_type=media.media_type media_id=related.id title=related.title only %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
