{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  {{ media_type|title }}s - Yamtrack
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="table-responsive rounded p-4 mb-4">
      <table class="table table-borderless table-hover align-middle text-center">
        <thead>
          <tr>
            <th>
              <button type="button"
                      class="btn btn-secondary filter-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#filter-modal">
                <i class="bi bi-funnel-fill"></i>
              </button>
              <div class="modal fade"
                   id="filter-modal"
                   tabindex="-1"
                   aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form method="get">
                        {{ filter_form|crispy }}
                        <div class="text-center">
                          <button class="btn btn-secondary" type="submit">Filter</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th class="media-title">Title</th>
            <th>Score</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for media in media_list %}
            <tr>
              <td class="nostretch">
                <img class="lazyload object-fit-cover"
                     data-src="{{ media.image }}"
                     data-expand="1000"
                     width="40"
                     height="40"
                     {% comment %} adding alt attr resizes table {% endcomment %} />
              </td>
              <td class="media-title text-truncate">
                <a href="{% url 'media_details' media_type=media_type media_id=media.media_id title=media.title|slugify %}">{{ media }}</a>
              </td>
              <td>{{ media.score }}</td>
              <td>{{ media.status|default_if_none:"" }}</td>
              <td>{{ media.progress|default_if_none:"" }}</td>
              <td>
                {% include "app/components/open_track_form.html" with media_type=media_type media_id=media.media_id title=media.title only %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
{% block extra_scripts %}
  <script src="{% static "js/lazysizes.min.js" %}" async=""></script>
{% endblock extra_scripts %}
