{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ media_title }} S{{ season.season_number }} - Yamtrack
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="details-top d-flex">
      <div class="image">
        <img src="{{ season.image }}"
             class="{% if season.image != IMG_NONE %} poster {% else %} image-not-found {% endif %}"
             alt="{{ season.name }}"/>
      </div>
      <div class="details-data d-flex flex-column align-items-start">
        <div class="tv-title">
          <a href="{% url 'media_details' media_type="tv" media_id=media_id title=media_title|slugify %}">
            {{ media_title|capfirst }}
          </a>
        </div>
        <div class="title fs-4">{{ season.name }}</div>
        <div class="start-date">
          <strong>Release date:</strong>
          {{ season.start_date }}
        </div>
        <div class="synopsis">
          <strong>Synopsis:</strong>
          {{ season.synopsis }}
        </div>
        <div class="episodes-num mb-2">
          <strong>Total Episodes:</strong>
          {{ season.episodes|length }}
        </div>
        <div class="mt-auto">
          {% include "app/components/open_track_form.html" with request=request media_type="season" media_id=media_id season_number=season.season_number title=media_title|capfirst only %}
        </div>
      </div>
    </div>

    <div class="dropdown mt-5 mb-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ season.name }}
      </button>
      <ul class="dropdown-menu">
        {% for tv_season in tv.seasons %}
          <li>
            <a class="dropdown-item" href="{% url 'season_details' media_id=media_id title=media_title|slugify season_number=tv_season.season_number %}">
              {{ tv_season.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% for episode in season.episodes %}
      <div class="card mb-3">
        <div class="row g-0">
          {% if episode.still_path is None %}
            <div class="col-sm-3 episode-img-none"></div>
          {% else %} 
            <div class="col-sm-3">
              <img src="{% if episode.still_path is None %}
                          https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg 
                        {% else %} 
                          https://image.tmdb.org/t/p/w500{{ episode.still_path }}
                        {% endif %}"
                  class="episode-img rounded-start" alt="E{{ episode.episode_number }} image">
            </div>
          {% endif %}
          
          <div class="col-sm-9 card-body d-flex flex-column align-items-start pb-2">
            <div class="episode-name">
              S{{ season.season_number|stringformat:"02d" }}.E{{ episode.episode_number|stringformat:"02d" }} - {{ episode.name }}
            </div>
            <div class="mb-2"><small class="text-body-secondary">{{ episode.air_date|default:"Unknown Release Date" }}</small></div>
            <div class="episode-overview mb-2">{{ episode.overview }}</div>
            <div class="mt-auto">

              {% if episode.watched %}
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#episode_{{ episode.episode_number }}">
                  <i class="bi bi-check-circle-fill"></i>
                </button>
                <small class="ms-2">On {{ episode.watch_date|date:"Y-m-d" }}</small>
              {% else %}
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#episode_{{ episode.episode_number }}">
                  <i class="bi bi-check-circle"></i>
                </button>
              {% endif %}

              <div class="modal fade" id="episode_{{ episode.episode_number }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{ media_title|capfirst }} S{{ season.season_number }}.E{{ episode.episode_number }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <div class="text-center fs-5">When did you watch it?</div>
                      <form method="post" action="{% url 'episode_handler' %}?next={{ request.path }}" >
                        {% csrf_token %}
                        <input type="hidden" name="media_id" value="{{ media_id }}">
                        <input type="hidden" name="season_number" value="{{ season.season_number }}">
                        <input type="hidden" name="episode_number" value="{{ episode.episode_number }}">

                        <button type="submit" class="btn btn-secondary w-100 mt-3" name="release" value="{{ episode.air_date }}">Release</button>

                        <div class="d-flex date-btn-group mt-2">
                          <input type="date"
                                class="form-control pe-0 border-end-0 rounded-end-0"
                                name="date"
                                value="{% now "Y-m-d" %}">
                          <button type="submit" class="btn bg-dark border-start-0 rounded-start-0">
                            <i class="bi bi-check-circle-fill"></i>
                          </button>
                        </div>

                        <button type="submit" class="btn btn-danger w-100 mt-2" name="unwatch">Unwatch</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_scripts %}
  <script>
    const myDefaultAllowList = bootstrap.Tooltip.Default.allowList
    myDefaultAllowList.input = ['type', 'name', 'value']
    myDefaultAllowList.button = ['value', 'name']
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
{% endblock extra_scripts %}

