__pycache__
*.pyc
.env
.coverage*
venv
src/staticfiles
src/db/db.sqlite3
db.sqlite3-shm
db.sqlite3-wal

# Media files (user uploads)
src/media/
profile_pictures/
tailwindcss


# IDE files
.vscode/launch.json
CLAUDE.md
requests.http
TODO.txt
