aiohttp==3.13.5
apprise==1.9.9
beautifulsoup4==4.14.3
celery==5.6.3
croniter==6.2.2
defusedxml==0.7.1
Django==6.0.4
django-allauth[socialaccount]==65.15.1
django-celery-beat==2.9.0
django-celery-results==2.6.0
django_debug_toolbar==6.3.0
django-health-check[celery,redis]==4.2.2
django-model-utils==5.0.0
django-redis==6.0.0
django-select2==8.4.8
django-simple-history==3.11.0
django-widget-tweaks==1.5.1
gunicorn==25.3.0
icalendar==7.0.3
Pillow==12.2.0
psycopg[binary,pool]==3.3.3
python-decouple==3.8
redis[hiredis]==7.4.0
requests==2.33.1
requests-ratelimiter==0.9.3
unidecode==1.4.0
