{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="d-flex entry-wrapper">
    <div class="form-signin w-100 m-auto">
      <h1 class="text-center mb-4">Yamtrack</h1>

      {% comment %} e.g user registered notification message {% endcomment %}
      {% if messages %}
        {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message|linebreaksbr }}</div>{% endfor %}
      {% endif %}

      {% crispy form %}

      {% block extras %}
      {% endblock extras %}

    </div>
  </div>
{% endblock body %}
