{% extends "users/base.html" %}

{% block title %}
  Export - Yamtrack
{% endblock title %}

{% block settings_content %}
  <div class="bg-[#2a2f35] rounded-lg p-6">
    <div class="flex items-center mb-4">
      {% include "app/icons/export.svg" with classes="w-6 h-6 text-indigo-400 mr-3" %}
      <h2 class="text-xl font-semibold">Export Data</h2>
    </div>
    <p class="text-gray-400 mb-5 text-sm">Back up your data or export it for use with other services.</p>
    <p class="text-sm text-gray-400 mb-4">Your export will include all your media items.</p>
    <form method="get" action="{% url 'export_csv' %}">
      {% csrf_token %}
      <button class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition-colors text-sm cursor-pointer">
        Export as CSV
      </button>
    </form>
  </div>
{% endblock settings_content %}
