{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Profile - Yamtrack
{% endblock title %}

{% block container %}
 
  <form method="post" class="mb-4">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile</legend>
      {% crispy user_form %}
    </fieldset>
  </form>
 
  <form method="post" class="mb-4">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Password Update</legend>
      {% crispy password_form %}
    </fieldset>
  </form>

  <div class="mb-4">
    <legend class="border-bottom mb-4">Import</legend>

    <fieldset class="input-group profile-grid">
      <form class="p-2 grid-item import-form"
            method="post"
            enctype="multipart/form-data"
            action="{% url 'import_tmdb_ratings' %}">
        {% csrf_token %}
        <div class="import-name">TMDB Ratings</div>
        <div class="input-group">
          <input type="file" class="form-control" name="tmdb_ratings">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>

      <form class="p-2 grid-item import-form"
            method="post"
            enctype="multipart/form-data"
            action="{% url 'import_tmdb_watchlist' %}">
        {% csrf_token %}
        <div class="import-name">TMDB Watchlist</div>
        <div class="input-group">
          <input type="file" class="form-control" name="tmdb_watchlist">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>

      <form class="p-2 grid-item import-form"
            method="post"
            action="{% url 'import_mal' %}">
        {% csrf_token %}
        <div class="import-name">MyAnimeList</div>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="mal"
                 placeholder="MyAnimeList Username">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>
 
      <form class="p-2 grid-item import-form"
            method="post"
            action="{% url 'import_anilist' %}">
        {% csrf_token %}
        <div class="import-name">AniList</div>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="anilist"
                 placeholder="AniList Username">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>
      <form class="p-2 grid-item import-form"
            method="post"
            action="{% url 'import_trakt' %}">
        {% csrf_token %}
        <div class="import-name">Trakt Username</div>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="trakt"
                 placeholder="Trakt username slug">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>
 
      <form class="p-2 grid-item import-form"
            method="post"
            action="{% url 'import_kitsu_name' %}">
        {% csrf_token %}
        <div class="import-name">Kitsu by Username</div>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="kitsu_username"
                 placeholder="Kitsu Username">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>

      <form class="p-2 grid-item import-form"
            method="post"
            action="{% url 'import_kitsu_id' %}">
        {% csrf_token %}
        <div class="import-name">Kitsu by ID</div>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="kitsu_id"
                 placeholder="Kitsu User ID">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>

      <form class="p-2 grid-item import-form"
            method="post"
            enctype="multipart/form-data"
            action="{% url 'import_yamtrack' %}">
        {% csrf_token %}
        <div class="import-name">Yamtrack CSV</div>
        <div class="input-group">
          <input type="file" class="form-control" name="yamtrack_csv">
          <button class="btn btn-secondary" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>
    </fieldset>
  </div>

  <div class="mb-4">
    <legend class="border-bottom mb-4">Export</legend>

    <fieldset class="input-group profile-grid">
      <form class="p-2 grid-item" method="get" action="{% url 'export_csv' %}">
        <button class="btn btn-secondary w-100" type="submit">Export as CSV</button>
      </form>
    </fieldset>
  </div>

  <div class="mb-4">
    <legend class="border-bottom mb-4">Other</legend>

    <fieldset class="input-group profile-grid">
      <form class="p-2 grid-item"
            method="post"
            action="{% url 'reload_calendar' %}">
        {% csrf_token %}
        <button class="btn btn-secondary w-100" type="submit">Reload Calendar</button>
      </form>
    </fieldset>
  </div>

{% endblock container %}

{% block js %}
  <script src="{% static 'js/spinner.js' %}"></script>
{% endblock js %}
