{% extends "allauth/layouts/base.html" %}
{% load allauth account %}

{% block body %}
  <div class="flex min-h-screen bg-[#212529] text-gray-100">
    <div class="flex-1 flex flex-col justify-center lg:pb-40 items-center p-4">
      <div class="w-full max-w-md">
        <div class="text-center mb-8">
          {% element h1 %}
            Foxtrack
          {% endelement %}

          <p class="text-gray-400">
            {% block content_title %}
            {% endblock content_title %}
          </p>

        </div>
        <div class="bg-[#2a2f35] rounded-lg p-8 shadow-lg">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
