#details {
  background-color: $container-bg;
  border: 1px solid #383d3f;
  padding: 1.5em;
  .header {
    .poster {
      border-radius: 10px;
      width: 14rem;
      aspect-ratio: 2/3;
      object-fit: cover;
    }
  
    .image-not-found {
      object-fit: contain;
      width: 14rem;
      aspect-ratio: 2/3;
      background-color: rgb(44, 48, 50);
    }

    .content {
      margin-left: 1em;
      .title {
        font-size: 2em;
        font-weight: 600;
        color: $font-grey;
      }
      .synopsis {
        // show only 4 lines of text
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
      .media-form {
        margin-top: .5em;
        .open-modal-button {
          color: $white;
          background-color: #6c757d;
          border-color: #6c757d;

          &:hover {
            color: $white;
            background-color: #5c636a;
            border-color: #565e64;
          }
        }
      }
    }
  }

  .grid-title {
    margin-top: 1em;
    font-size: 1.2em;
    color: $font-grey;
    margin-bottom: 0.5em;
  }
  .grid {
    @include cards-grid;
  }
}