body {
  background-color: #181a1b;
}

main {
  margin: 6em 10em 2em;
}

form .btn:not(.delete-btn) {
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #56595d;
  background-color: #232224;

  &:hover {
    border-color: #7a7d81;
  }
}

.input-group > .form-select {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
}

// disable num input arrows
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
  --bs-tooltip-color: var(--bs-white);
}
