$font-grey: #d1cdc7;

#home {
  .container {

    margin-bottom: 2rem;

    .title {
      color: $font-grey;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 10rem);
      justify-content: center;
      grid-gap: 0rem 1rem;
      
      .card {
        margin-bottom: 1em;

        img {
          width: 10rem;
          height: 15rem;
          object-fit: cover;
        }

        .card-img-overlay {
          // position bottom of card
          top: auto;
          padding: 0.5em;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          background-color: rgba(0, 0, 0, 0.692);
          font-size: 0.8rem;
          
          .card-title {
            margin-bottom: 0;
            // show only 2 lines of text
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .card-text {
            .progress-btn {
              padding: 0 0.5em;
              color: #adb5bd;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}