#login {
  height: 100dvh;

  .form-signin {
    width: 330px;
    padding: 15px;
    margin-top: -5rem;

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-floating:focus-within {
      z-index: 2;
    }
  }
}
