@mixin cards-grid {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  .card {
    width: 100%;
    margin-bottom: 1em;

    .poster {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      cursor: pointer;
    }

    .image-not-found {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: contain;
      object-position: center top;
      background-color: rgb(44, 48, 50);
      cursor: pointer;
    }

    .card-img-overlay {
      // position bottom of card
      top: auto;
      padding: 0.5em;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: rgba(0, 0, 0, 0.692);

      .card-title {
        margin-bottom: 0;
        // show only 2 lines of text
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.9rem;
      }

      .card-text {
        font-size: 0.8rem;
        .open-modal-button, .progress-btn {
          padding: 0 0.5em;
          color: $btn-color;
          &:hover {
            color: $white;
          }

          &:disabled {
            color: transparent;
          }
        }
      }
    }
  }
}

@mixin form-btn {
  border-width: 1px;
  border-style: solid;
  border-color: #56595d;

  &:hover {
    border-color: #7a7d81;
  }
}