.media-form-modal {
  form {
    // disable num input arrows
    input[type=number] {
      appearance: textfield;
      -moz-appearance: textfield;
    }

    input[type=date] {
      color-scheme: dark;
    }
  }
}
