.navbar {
  background-color: #232525;

  .navbar-nav .nav-link {
    font-size: 1.3rem;
  }

  .navbar-brand.abs .form-control {
    width: 60%;
    border-style: solid;
    border-color: #56595d;
  }
}

.navbar-brand.abs .form-select,
#home .tab-content .edit .form-select {
  width: auto;
  background-color: #262a2d;
  color: #dedcd9;
  border-width: 1px;
  border-style: solid;
  border-color: #56595d;
}
