#profile {
  .btn-submit {
    @include form-btn;
    color: #909294;
    &:hover {
      color: #c1c5c9;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    form.grid-item {
      text-align: center;

      .form-title {
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        text-align: center;
      }
    }
  }
}
