#search main {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    justify-content: center;
    grid-gap: 1.5rem 1rem;

    .card {
      
      .poster {
        object-fit: cover;
        height: 18rem;
      }
      .image-not-found {
        object-fit: contain;
        height: 18rem;
        background-color: rgb(44, 48, 50);
      }

      .card-body {
        padding: .6rem;
        .card-title{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 0;
        }
      }
      
    }
  }

}