#sidebar {
  width: 230px;
  .nav-link.active {
    color: white;
    font-weight: 600;
    background-color: $selected;
    // bold active icon
    .bi {
      -webkit-text-stroke: .5px white;
    }
  }

  .nav-link:not(.active) {
    color: hsl(0, 0%, 85%);
    &:hover {
      color: white;
    }
  }
}