body { background-color: #181a1b; }

main { height: 100vh; width: 100%; overflow-y: auto; padding: 2em 2em 0; }

main .header { margin-bottom: 2em; }

main .header .offcanvas-toggler { font-size: 1.25em; line-height: 1; color: #fff; background-color: transparent; border: var(--bs-border-width) solid var(--bs-border-color); border-radius: 0.375rem; padding: 0.75rem; margin-right: 1rem; }

main .header .offcanvas-toggler:hover { background-color: #3a4047; }

main form .btn:not(.delete-btn):not(.login) { border-radius: 0; border-width: 1px; border-style: solid; border-color: #56595d; background-color: #232224; }

main form .btn:not(.delete-btn):not(.login):hover { border-color: #7a7d81; }

main .input-group > .form-select { flex-grow: 0; flex-shrink: 0; width: auto; }

main input[type="number"] { appearance: textfield; -moz-appearance: textfield; }

main input:placeholder-shown { text-overflow: ellipsis; }

main .custom-tooltip { --bs-tooltip-bg: var(--bs-secondary); --bs-tooltip-color: var(--bs-white); }

#sidebar { width: 230px; }

#sidebar .nav-link.active { color: #fff; font-weight: 600; background-color: #303438; }

#sidebar .nav-link:not(.active) { color: #fff; }

#sidebar .nav-link:not(.active):hover { background-color: #3a4047; }

#medialist .nav-tabs .nav-link.active { color: #fff; }

#medialist .nav-tabs .nav-link:not(.active) { color: #d1cdc7; }

#medialist .tab-content { background-color: #1b1e1f; border: 1px solid #383d3f; }

#medialist .tab-content .tab-pane .d-flex .image, #medialist .tab-content .tab-pane .d-flex .score, #medialist .tab-content .tab-pane .d-flex .status, #medialist .tab-content .tab-pane .d-flex ._progress, #medialist .tab-content .tab-pane .d-flex .edit { text-align: center; }

#medialist .tab-content .tab-pane .list-head { margin: 1em 0 0; }

#medialist .tab-content .tab-pane .list-head .image, #medialist .tab-content .tab-pane .list-section .image { margin-left: 1em !important; text-align: center; }

#medialist .tab-content .tab-pane .list-head .image img, #medialist .tab-content .tab-pane .list-section .image img { width: 3rem; height: 3rem; object-fit: cover; }

#medialist .tab-content .tab-pane .list-head .image .empty-div, #medialist .tab-content .tab-pane .list-section .image .empty-div { width: 3rem; height: 3rem; background-color: #1b1e1f; }

#medialist .tab-content .tab-pane .list-head .title, #medialist .tab-content .tab-pane .list-section .title { flex: 3; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; line-height: 2; }

#medialist .tab-content .tab-pane .list-head .dropdown-center, #medialist .tab-content .tab-pane .list-section .dropdown-center { position: relative; }

#medialist .tab-content .tab-pane .list-head .dropdown-center .dropdown-toggle::after, #medialist .tab-content .tab-pane .list-section .dropdown-center .dropdown-toggle::after { position: absolute; top: 50%; transform: translateY(-50%); }

#medialist .tab-content .tab-pane .list-head .score, #medialist .tab-content .tab-pane .list-head .status, #medialist .tab-content .tab-pane .list-head ._progress, #medialist .tab-content .tab-pane .list-head .edit, #medialist .tab-content .tab-pane .list-section .score, #medialist .tab-content .tab-pane .list-section .status, #medialist .tab-content .tab-pane .list-section ._progress, #medialist .tab-content .tab-pane .list-section .edit { flex: 1; }

#medialist .tab-content .tab-pane .list-head .score .btn, #medialist .tab-content .tab-pane .list-head .status .btn, #medialist .tab-content .tab-pane .list-head ._progress .btn, #medialist .tab-content .tab-pane .list-head .edit .btn, #medialist .tab-content .tab-pane .list-section .score .btn, #medialist .tab-content .tab-pane .list-section .status .btn, #medialist .tab-content .tab-pane .list-section ._progress .btn, #medialist .tab-content .tab-pane .list-section .edit .btn { background-color: #1b1e1f; color: #adb5bd; border-width: 0; border-radius: 0; }

#medialist .tab-content .tab-pane .list-head .score .btn:hover, #medialist .tab-content .tab-pane .list-head .status .btn:hover, #medialist .tab-content .tab-pane .list-head ._progress .btn:hover, #medialist .tab-content .tab-pane .list-head .edit .btn:hover, #medialist .tab-content .tab-pane .list-section .score .btn:hover, #medialist .tab-content .tab-pane .list-section .status .btn:hover, #medialist .tab-content .tab-pane .list-section ._progress .btn:hover, #medialist .tab-content .tab-pane .list-section .edit .btn:hover { color: #fff; }

#medialist .tab-content .tab-pane .list-head .score .dropdown-menu, #medialist .tab-content .tab-pane .list-head .status .dropdown-menu, #medialist .tab-content .tab-pane .list-head ._progress .dropdown-menu, #medialist .tab-content .tab-pane .list-head .edit .dropdown-menu, #medialist .tab-content .tab-pane .list-section .score .dropdown-menu, #medialist .tab-content .tab-pane .list-section .status .dropdown-menu, #medialist .tab-content .tab-pane .list-section ._progress .dropdown-menu, #medialist .tab-content .tab-pane .list-section .edit .dropdown-menu { background-color: #24292f; color: #d1cdc7; min-width: 0; padding: 1em; }

#search main .container-grid { display: grid; grid-template-columns: repeat(auto-fill, 12rem); justify-content: center; grid-gap: 1.5rem 1rem; }

#search main .container-grid .card .poster { object-fit: cover; height: 18rem; }

#search main .container-grid .card .image-not-found { object-fit: contain; height: 18rem; background-color: #2c3032; }

#search main .container-grid .card .card-body { padding: 0.6rem; }

#search main .container-grid .card .card-body .card-title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 0; }

#profile .btn-submit { color: #909294; background-color: #212529; }

#profile .btn-submit:hover { color: #c1c5c9; }

#profile .grid-container { display: grid; grid-template-columns: repeat(3, 1fr); gap: 1em; }

#profile .grid-container form.grid-item { text-align: center; }

#profile .grid-container form.grid-item .form-title { font-size: 1.2rem; margin-bottom: 0.5em; text-align: center; }

.modal-content .poster { border-radius: 10px; width: 10rem; height: 15rem; object-fit: cover; }

.modal-content .image-not-found { object-fit: contain; width: 10rem; height: 15rem; background-color: #2c3032; }

.modal-content .content { color: #c7c4bc; margin-left: 1em; position: relative; }

.modal-content .content * { margin-bottom: 0.2em; }

.modal-content .content .overview { /* only show 3 lines of overview */ overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

.modal-content .content .genres { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

.modal-content form { column-gap: 0.6em; row-gap: 1em; }

.modal-content form .descriptor { font-size: 0.8rem; margin-bottom: 0.4em; }

.modal-content form .form-select { border-radius: 0.2rem; }

@media screen and (max-width: 992px) { main { padding: 2em 1em 0; } #home .tab-content .tab-pane .list-section .status, #home .tab-content .tab-pane .list-head .status { width: 20%; } .modal-content form div { width: 100%; } }

@media screen and (max-width: 576px) { #home .tab-content .tab-pane .list-head .title, #home .tab-content .tab-pane .list-section .title { flex: 2; } #home .tab-content .tab-pane .list-head .status, #home .tab-content .tab-pane .list-head ._progress, #home .tab-content .tab-pane .list-section .status, #home .tab-content .tab-pane .list-section ._progress { display: none; } .modal-content .content .genres { display: none; } .modal-content form div { width: 100%; } }

/*# sourceMappingURL=main.css.map */