@import "general";
@import "sidebar";
@import "medialist";
@import "search";
@import "profile";
@import "login";
@import "register";
@import "edit";


// applies to medium devices (tablets)
@media screen and (max-width: 992px) {

  main {
    padding: 2em 1em 0;
  }

  #home {
    .tab-content .tab-pane .list-section,
    .tab-content .tab-pane .list-head {
      .status {
        width: 20%;
      }
    }
  }

  .modal-content {
    form div {
      width: 100%;
    }
  }
}

// xs
@media screen and (max-width: 576px) {
  #home .tab-content {
    .tab-pane {
      .list-head,
      .list-section {
        .title {
          flex: 2;
        }
        .status,
        ._progress {
          display: none;
        }
      }
    }
  }

  .modal-content {
    .content {
      .genres {
        display: none;
      }
    }
    form div {
      width: 100%;
    }
  }
}
