@import "variables";
@import "general";
@import "home";
@import "sidebar";
@import "medialist";
@import "search";
@import "details";
@import "profile";
@import "login";
@import "register";
@import "edit";

@media screen and (min-width: 992px) {
  body main .search-bar .input-group {
    width: 50%;
    margin: auto;
  }
}

// applies to medium devices (tablets)
@media screen and (max-width: 991px) {

  body main {
    padding-top: 2em;
  }

  // one entry per line in the form
  .modal-content {
    form div {
      width: 100%;
    }
  }
}

// xs
@media screen and (max-width: 575px) {
  #medialist {
    .list-head, .list-section {
      ._progress {
        display: none;
      }
    }
  }
  #details {
    .header {
      display: block !important;
      .image {
        text-align: center;
      }
      .content .title {
        text-align: center;
      }
    }
  }
}
