@import "variables";
@import "mixins";
@import "general";
@import "home";
@import "sidebar";
@import "medialist";
@import "search";
@import "details";
@import "profile";
@import "login";
@import "register";
@import "modal";

@media screen and (min-width: 1400px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  body main .search-bar .input-group {
    width: 50%;
    margin: auto;
  }
}

// applies to medium devices (tablets)
@media screen and (max-width: 991px) {

  body main {
    padding-top: 2em;
  }

  #profile {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
}

// xs
@media screen and (max-width: 575px) {
  #medialist {
    .list-head, .list-section {
      ._progress {
        display: none;
      }
    }
  }
  
  #details {
    .header {
      // wrap content under image
      flex-wrap: wrap;
      // center image
      justify-content: center;
      .content {
        .title {
          text-align: center;
        }
        .media-form {
          margin-top: 0.5em;
        }
      }
    }
    
    .episode-date {
      display: none;
    }
  }
}
