{% extends "account/base_entrance.html" %}
{% load allauth account %}

{% block head_title %}
  Register
{% endblock head_title %}

{% block content_title %}
  Create your account
{% endblock content_title %}

{% block content %}

  {% if not SOCIALACCOUNT_ONLY %}
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
      {% slot body %}
        {% csrf_token %}
        {% element fields form=form unlabeled=True %}
        {% endelement %}
        {{ redirect_field }}
      {% endslot %}
      {% slot actions %}
        {% element button tags="prominent,signup" type="submit" icon='<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path> <circle cx="9" cy="7" r="4"></circle><line x1="19" x2="19" y1="8" y2="14"></line><line x1="22" x2="16" y1="11" y2="11"></line>' %}
          Create Account
        {% endelement %}
      {% endslot %}
    {% endelement %}
  {% endif %}

  {% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
  {% endif %}

  <div class="mt-6 text-center">
    <p class="text-gray-400">
      Already have an account?
      <a class="text-indigo-400 hover:text-indigo-300"
         href="{% url 'account_login' %}">Sign in</a>
    </p>
  </div>

{% endblock content %}
