///////////////
// Variables //
///////////////

// Colors
$background: #212529;
$primary: #272c30;
$secondary: #6c757d;
$accent: #758fa3;
$container-bg: hsl(195, 7%, 11%);

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  height: 100dvh;
  overflow-y: auto;
  width: 100%;
}

.sidebar {
  width: 230px;
  background-color: $primary !important; // override bootstrap offcanvas bg

  .nav-link.active {
    background-color: $secondary;
  }

  .nav-link:not(.active) {
    color: hsl(0, 0%, 85%);
    &:hover {
      color: white;
    }
  }
}

.search-bar {
  // adjust width of select in search-bar
  .input-group > .form-select {
    flex-grow: 0;
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .search-bar {
    width: 50%;
  }
}


.grid {
  @include cards-grid;
}


.table-responsive {
  background-color: $primary;
}

.table {
  --bs-table-bg: $primary;

  th {
    vertical-align: middle;
  }

  .nostretch {
    width: 1%; // set width of image td to the minimum
  }

  .media-title{
    text-align: left;
    max-width: 20dvw; // auto adjust width of title
    margin-left: 0;
  }

  a {
    color: var(--bs-body-color);
    text-decoration: none;
  }
}

// login/register page
.entry-wrapper {
  height: 100dvh;
  .form-signin {
    max-width: 330px;
    padding: 1rem;

    .first-input {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .middle-input {
      margin-bottom: -1px;
      border-radius: 0;
    }
  
    .last-input {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // messages list
  ul {
    margin-bottom: 0;
  }

}
