.sidebar {
  width: 230px;
  background-color: $primary !important; // override bootstrap sidebar bg

  &.offcanvas-lg {
    --bs-offcanvas-width: 75% !important; // override bootstrap offcanvas width
  }

  .nav-link.active {
    background-color: $secondary;
  }

  .nav-link:not(.active) {
    color: hsl(0, 0%, 85%);
    &:hover {
      color: white;
    }
  }
}

.logout-form {
  button {
    background: none;
    border: none;
    padding: 0;
    color: hsl(0, 0%, 85%);
    &:hover {
      color: white;
    }
  }
}

.search-bar {
  // adjust width of select in search-bar
  .input-group > .form-select {
    flex-grow: 0;
    width: auto;
  }
}

.grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(9.5rem, 1fr));
}

.card {
  width: 100%;
  margin-bottom: 1rem;

  .poster {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    cursor: pointer;
  }

  .image-not-found {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: contain;
    object-position: center top;
    background-color: $bg-img-none;
    cursor: pointer;
  }
}

.card-img-overlay {
  // position bottom of card
  top: auto;
  padding: 0.5em;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgba(0, 0, 0, 0.692);

  .card-title {
    margin-bottom: 0;
    // show only 2 lines of text
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 0.85rem;

    .open-track-btn {
      padding: 0.1rem 0.3rem;
      font-size: 0.75rem;
    }

    .progress-btn {
      padding: 0.1rem 0.3rem;
      &:disabled {
        color: transparent;
      }
    }
  }
}

.modal {
  font-size: 1rem;
}

.table-responsive {
  background-color: $primary;
}

.table {
  --bs-table-bg: $primary;

  // mainly to fill td for image not found
  td img {
    background-color: $bg-img-none;
  }

  th {
    vertical-align: middle;
  }

  .nostretch {
    width: 1%; // set width of image td to the minimum
  }

  .media-title {
    text-align: left;
    max-width: 30svw; // auto adjust width of title
    margin-left: 0;
  }

  a {
    color: var(--bs-body-color);
    text-decoration: none;
  }
}

// login/register page
.entry-wrapper {
  height: 100svh;
  .form-signin {
    max-width: 330px;
    padding: 1rem;

    .first-input {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .middle-input {
      margin-bottom: -1px;
      border-radius: 0;
    }

    .last-input {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // messages list
  ul {
    margin-bottom: 0;
  }
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;

  form.grid-item {
    text-align: center;

    .form-title {
      font-size: 1.2rem;
      margin-bottom: 0r.5em;
      text-align: center;
    }
  }
}

.details-top {
  .poster {
    border-radius: 5px;
    width: 14rem;
    aspect-ratio: 2/3;
    object-fit: cover;
  }

  .image-not-found {
    border-radius: 5px;
    width: 14rem;
    object-fit: contain;
    aspect-ratio: 2/3;
    background-color: $bg-img-none;
  }
}

.details-data {
  margin-left: 1rem;
  // link to main details from season details
  a {
    color: var(--bs-body-color);
  }

  .synopsis {
    // show only 4 lines of text
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.episode-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.episode-img-none {
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
  background-color: $bg-img-none;
  background-position: center;
  background-repeat: no-repeat;
  height: 170px; // aprox height of episode-img
}

.episode-title {
  font-size: 1.2rem;
}

.episode-overview {
  // show only 2 lines of text
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date-btn-group {
  .btn {
    border-color: #495057;

    &:hover {
      color: white;
    }
  }
}

.no-content {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  align-items: center;
}
