///////////////
// Variables //
///////////////

// Colors
$background: #1c1e1f;
$primary: #212325;
$secondary: #6c757d;
$accent: #758fa3;

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

body {
  background-color: $background;
  font-family: "Roboto", sans-serif;
  // hide lazyload img until loaded
  img.lazyload:not([src]) {
    visibility: hidden;
  }
}

main {
  height: 100dvh;
  overflow-y: auto;
  width: 100%;
}

.sidebar {
  width: 230px;
  background-color: $primary !important; // override bootstrap offcanvas bg

  .nav-link.active {
    background-color: $secondary;
  }

  .nav-link:not(.active) {
    color: hsl(0, 0%, 85%);
    &:hover {
      color: white;
    }
  }
}

.search-bar {
  // adjust width of select in search-bar
  .input-group > .form-select {
    flex-grow: 0;
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .search-bar {
    width: 50%;
  }
}


.grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

  .card {
    width: 100%;
    margin-bottom: 1em;

    .poster {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      cursor: pointer;
    }

    .image-not-found {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: contain;
      object-position: center top;
      background-color: rgb(44, 48, 50);
      cursor: pointer;
    }

    .card-img-overlay {
      // position bottom of card
      top: auto;
      padding: 0.5em;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: rgba(0, 0, 0, 0.692);

      .card-title {
        margin-bottom: 0;
        // show only 2 lines of text
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.9rem;
      }

      .card-text {
        font-size: 0.85rem;

        .btn {
          padding: 0.1rem 0.3rem;
        }

        .open-modal-btn {
          margin-left: .75rem;
          font-size: 0.75rem;
        }

        .progress-btn:disabled {
          color: transparent;
        }
      }
    }
  }
}


.table-responsive {
  background-color: $primary;
}

.table {
  --bs-table-bg: $primary;

  th {
    vertical-align: middle;
  }

  .nostretch {
    width: 1%; // set width of image td to the minimum
  }

  .media-title{
    text-align: left;
    max-width: 20dvw; // auto adjust width of title
    margin-left: 0;
  }

  a {
    color: var(--bs-body-color);
    text-decoration: none;
  }
}

// login/register page
.entry-wrapper {
  height: 100dvh;
  .form-signin {
    max-width: 330px;
    padding: 1rem;

    .first-input {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .middle-input {
      margin-bottom: -1px;
      border-radius: 0;
    }
  
    .last-input {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // messages list
  ul {
    margin-bottom: 0;
  }

}


.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;

  form.grid-item {
    text-align: center;

    .form-title {
      font-size: 1.2rem;
      margin-bottom: 0.5em;
      text-align: center;
    }
  }
}

