///////////////
// Variables //
///////////////

// Colors
$background: #1c1e1f;
$primary: #212325;
$secondary: #6c757d;
$accent: #758fa3;
$bg-img-none: #2c3032;
$white: #fff;
$black: #000;


////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-error {
  background-color: #2c0b0e;
  border-color: #842029;
  color: #ea868f;
}
