.modal-content{

    .poster {
        border-radius: 10px;
        width: 10rem;
        height: 15rem;
        object-fit: cover;
    }
    
    .image-not-found {
        object-fit: contain;
        width: 10rem;
        height: 15rem;
        background-color: rgb(44, 48, 50);
    }

    .content {
        color: #c7c4bc;
        margin-left: 1em;
        position:relative;

        & * {
            margin-bottom: .2em;
        }

        .overview {
        /* only show 2 lines of overview */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        }

        .genres {
            /* only show 1 lines of overview */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            }

        .input-group {
            position:absolute;
            bottom:0;
            .form-control {
                flex-grow: 0;
                flex-shrink: 0;
                width: 4rem;
            }
        }
    }
}