body{
  background-color: #181A1B;
}

main {
  margin: 6em 10em 2em 10em;
}

form .btn:not(.modal-delete-btn){
  border-radius: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #56595D;
  background-color: #232224;

  &:hover {
    border-color: #7a7d81;
  }
}


.input-group > .form-select {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}