$container-bg: #1B1E1F;
$font-grey: #d1cdc7;

#home {

  .sticky-lg-top { top: 6em; }

  #v-pills-tab {
    background-color: $container-bg;
    width: 15rem;
    border: 1px solid #383D3F;
    border-radius: 0.5rem;

    .dropend {
      height: 3rem;
  
      button {
        color: #aaaaaa;
      
        &.active {
          color: rgb(231, 229, 229);
        }
      }
  
      .nav-link {
        width: 80%;
        background-color: $container-bg;
        &:hover {
          color: #ebe7e7;
          border: 1px solid #ebe7e7;
        }
        .left_word {
          float: left;
          text-align: left;
        }
  
        .right_number {
          float: right;
          text-align: right;
        }
      }
  
      .dropdown-toggle {
        &:hover {
          color: #ebe7e7;
          border: 1px solid #ebe7e7;
        }
      }
  
      .filters {
        background-color: $container-bg;
  
        button.dropdown-item {
          width: 100%;
          height: 100%;
          border-radius: 0px;
        }
      }
    }
  }

  .tab-content {
    background-color: $container-bg;
    width: 100%;
    border: 1px solid #383D3F;
    border-radius: 0.5rem;
    
    .content-title {
      margin: 0.6em 0.8em 0 0.8em;
      font-size: 1.8rem;
    }

    .tab-pane {
      .d-flex{
        & .image,
        & .score,
        & .status,
        & .edit,
        & .delete {
          text-align: center;
        }
      }

      .list-head{
        margin: 1em 0 0em 0;
      }

      .list-head, .list-section{
        .image {
          width: auto;
          margin-left: 1em !important;
          text-align: center;

          img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
          }

          .empty-div {
            width: 3rem;
            height: 3rem;
            background-color: $container-bg;
          }
        }

        .title{
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          line-height: 2;
        }

        .score {
          width: 10%;
        }

        .status {
          width: 15%;
        }

        .score, .status {
          .btn {
            background-color: $container-bg;
            color: $font-grey;
            border-width: 0;

            &:hover {
              border: 1px solid #56595D;
            }
          }
          .dropdown-menu {
            background-color: #24292F;
            color: $font-grey;
            min-width: 0;
            padding: 1em;
          }
        }

        .edit {
          width: 10%;
          display: flex;
          justify-content: center;

          .btn {
            border-width: 1;
            border-color: transparent;
            background-color: $container-bg;
            color: $font-grey;
          }

          .btn:hover {
            border-width: 1px;
            border-color: #56595D
          }
        }

        .delete {
          width: 10%;
          display: flex;
          justify-content: center;
          margin-right: .5em !important;

          .btn {
            border-width: 1;
            border-color: transparent;
            background-color: $container-bg;
            color: $font-grey;
          }

          .btn:hover {
            border-width: 1px;
            border-color: #56595D
          }
        }
      }
    }

  }
}