$dark-blue-bg: #1E232A;
$font-grey: #d1cdc7;

#home {
  #v-pills-tab {
    background-color: $dark-blue-bg;
    width: 15rem;
  }

  .dropend {
    height: 3rem;
  }

  #v-pills-tab {
    .nav-link {
      width: 80%;
    }

    button {
      color: #aaaaaa;
    }

    .nav-link {
      background-color: $dark-blue-bg;
      &:hover {
        color: #ebe7e7;
        border: 1px solid #ebe7e7;
      }
      .left_word {
        float: left;
        text-align: left;
      }

      .right_number {
        float: right;
        text-align: right;
      }
    }

    .filters {
      background-color: $dark-blue-bg;

      button.dropdown-item {
        width: 100%;
        height: 100%;
        border-radius: 0px;
      }
    }
  }

  .tab-content {
    background-color: $dark-blue-bg;
    width: 100%;

    .content-title {
      margin: 0.6em 0.8em 0 0.8em;
      font-size: 1.8rem;
      border-bottom: rgb(132, 122, 108) 1px solid;
    }

    .tab-pane {
      .d-flex div:not(.title){
        text-align: center;
      }

      .list-head{
        margin: 1em 0 1em 0;
      }
    }

    .image {
      width: 5%;
      margin-left: 1em !important;
      text-align: center;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
      }

      .image-not-found {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg");
        background-repeat: no-repeat;
        background-position:center;
        background-color: rgb(44, 48, 50);
        display: inline-block;
      }
    }

    .title {
      width: 25%;
      margin-left: 1em;
    }

    .score, .status {
      width: 10%;
    }

    .score {
      .btn {
        background-color: $dark-blue-bg;
        color: $font-grey;
      }

      .dropdown-menu {
        background-color: #24292F;
        color: $font-grey;
        min-width: 0;
        padding: 1em;
      }
    }

    .edit {
      width: 35%;
      padding: 0.5rem 2.5rem 0.5rem 2.5rem;
      .form-control{
        width: 4rem;
      }
      .btn{
        color: $font-grey;
      }
    }

    input[type=number] {
      appearance: textfield;
      -moz-appearance: textfield;
    }

    .delete {
      width: auto;
      display: flex;
      justify-content: center;
      margin-right: .5em !important;

      .btn {
        border-width: 0;
        background-color: $dark-blue-bg;
        color: $font-grey;
      }

      .btn:hover {
        border-width: 1px;
      }
    }

  }
}