#profile form.import{
  .import-title {
    font-size: 1.2rem;
    margin-bottom: .5em;
    text-align: center;
  }
  input[type=file]{
    width:20rem;
    word-wrap: break-word;
    overflow: auto;
  }
  input[type=file]::file-selector-button {
    background-color: #232627;
    color: #D1CDC7;
  }
}