@import "general";
@import "navbar";
@import "home";
@import "search";
@import "profile";


@media screen and (min-width: 1081px){
  #search main .box .content .input-group .form-control{
    width: 40%;
  }
}

// apply to everything except mobile
@media screen and (min-width: 768px) {

  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media screen and (max-width: 1080px){
  main {
    margin: 5em .5em 0em .5em;
  }
  .navbar-brand.abs {
    width:40%;
    margin-left: 1rem;
  }

  #home .tab-content {
    .title {
      width: 10%;
      margin-left: 1.2em;
    }
    .edit{
      width: 50%;
      padding: 0.5em 1.5em 0.5em 1.5em;
    }
  }
}

/* mobile css */
@media screen and (max-width: 767px) {
  .navbar-brand.abs {
    width:80%;
    margin-left: 0rem;
  }

  #home .tab-content {
    .title{
      margin-left: 3em;
    }
    .title, .score, .status, .delete{
      width: auto;
    }
    .edit {
      width:auto;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
  }

  #search main .box {

    margin: 0 auto 1em auto;
    width: 90vw;
    
    .content {

      .title {
        font-size: 1.4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .overview {
        font-size: 0;
      }

      .input-group{
        .form-select {
          width:20%;
          font-size: .8rem;
        }
        .form-control {
          width:50%;
        }
      }
    }
  }

}