@import "general";
@import "navbar";
@import "home";
@import "search";
@import "profile";


@media (min-width: 1081px){
  #search main .box .content .input-group .form-control{
    width: 40%;
  }
}

@media (max-width: 1080px){
  main {
    margin: 5em .5em 0em .5em;
    .navbar-brand.abs {
      width:40%;
    }
    
    #home .tab-content {
      .title {
        width: 10%;
        margin-left: 1em;
      }
      .edit{
        width: 50%;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

/* mobile css */
@media (max-width: 767px) {
  .navbar-brand.abs {
    width:80%;
  }

  #search main .box .content .overview {
    font-size: 0;
  }

  #home .tab-content {
    .status{
      width: 15%;
    }
    .edit {
      width: 45%;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
  }
}