@import "general";
@import "navbar";
@import "home";
@import "search";
@import "profile";
@import "edit";


// apply to everything except mobile
@media screen and (min-width: 768px) {
  .navbar{
    .hidden{
      display: none;
    }
    .navbar-brand.abs {
      position: absolute;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }
}

@media screen and (max-width: 1080px){
  main {
    margin: 5em 1em 1em 1em;
  }
  .navbar{
    .navbar-brand.abs {
      width: 45%;
      margin-left: 1rem;
    }
  }

  #home {
    .sticky-lg-top { top: 5em; }

    .tab-content .tab-pane .list-section, .tab-content .tab-pane .list-head {
      .status {
        width: 20%;
      }
      
    }
  }
}


/* mobile css */
@media screen and (max-width: 767px) {
  .navbar {
    .hidden{
      display: block;
      .nav-link {
        font-size: 1.7rem;
      }
    }

    .navbar-brand.abs {
      width:70%;
      margin:auto;

      .form-control {
        width: 1%;
      }
    }
  }

  #home .tab-content .tab-pane {
    .list-head, .list-section {
      .score, .edit {
        width: 20%;
      }
      .status {
        display: none;
      }
      .delete {
        display: none;
      }
    }
  } 

  #search main .container-grid {
    justify-content: center;
  }

  .modal-content .content{
    .overview {
      display:none
    }
    .genres {
      display:none
    }
    .media-status {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

}