.navbar {
  background-color: #24292F;
}

.navbar .nav-link {
  font-size: 1.3rem;
  color: #CAC8C8 !important;
}

.navbar-brand.abs{
  position: absolute;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
  
.navbar-brand.abs .form-select, #home .tab-content .edit .form-select, #search main .box .content .input-group .form-select {
  border-radius: 0;
  width: auto;
  background-color: #262A2D;
  color: #DEDCD9;
  border-width: 1px;
  border-style: solid;
  border-color: #56595D;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2356595D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.navbar-brand.abs .form-control{
  border-radius: 0;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #56595D;
  background-color: #232224;
  width: 10rem;
}

.form-text {
  color: rgba(209, 205, 199, 0.75);
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2356595D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.border-bottom {
  border-bottom: 1px solid #383d3f !important;
}

.border-top{
  border-top: 1px solid #383d3f !important;
}

.form-select, .form-control, .form-control:focus {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

.form-control:focus {
  border-color: rgb(62, 119, 148);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(62, 119, 148);
}

form .btn{
  border-radius: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #56595D;
  background-color: #232224;
}

.text-muted {
  color: rgba(209, 205, 199, 0.75) !important;
}

a {
  color: #2394fd;
}

body{
  background-color: #181A1B;
  color: #d1cdc7
}

main {
  margin: 6em 10em 2em 10em;
}

#home #v-pills-tab {
  background-color: #1E232A;
  width: 15rem;
}

#home .dropend {
  height: 3rem;
}

#home #v-pills-tab .nav-link{
  width: 80%;
}

#home #v-pills-tab button{
  color: #aaaaaa;
}

#home #v-pills-tab .nav-link{
  background-color: #1E232A;
}

#home #v-pills-tab .nav-link .left_word{
  float: left;
  text-align:left;
}

#home #v-pills-tab .nav-link .right_number{
  float: right;
  text-align:right;
}

#home #v-pills-tab .nav-link:hover{
  color: #ebe7e7;
  border: 1px solid #ebe7e7;
}

#home #v-pills-tab .filters{
  background-color: #1E232A;
}

#home #v-pills-tab .filters button.dropdown-item{
  width: 100%;
  height: 100%;
  border-radius: 0px;
}


#home .tab-content{
  background-color: #1E232A;
  width: 100%;
}

#home .tab-content .content-title{
  margin: .6em .8em 0 .8em;
  font-size: 1.8rem;
  border-bottom: rgb(132, 122, 108) 1px solid;
}

#home .tab-content .tab-pane .d-flex div:not(.title){
  text-align: center;
}

#home .tab-content .tab-pane .list-head{
  margin: 1em 0 1em 0;
}

#home .tab-content .image{
  width: 5%;
}

#home .tab-content .image img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#home .tab-content .title{
  width: 30%;
  margin-left: 1em;
}

#home .tab-content .score, #home .tab-content .status{
  width: 10%;
}

#home .tab-content .list-section .score{
  color: #e8e6e3;
}

#home .tab-content .score .btn{
  background-color: #1E232A;
}

#home .tab-content .score .dropdown-menu{
  background-color: #24292F;
  color: #e8e6e3;
  min-width: 0;
  padding: 1em;
}

#home .tab-content .edit{
  width: 35%;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

#home .tab-content .edit .form-control{
  width: 4rem;
}

#home .tab-content input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#home .tab-content .delete{
  width: 6%;
  display: flex;
  justify-content: center;
}

#home .tab-content .delete .btn{
  border-width: 0;
  background-color: #1E232A;
}

#home .tab-content .delete .btn:hover{
  border-width: 1px;
}


#search main .box {
  margin: 0 auto 2em auto;
  width: 70vw;
  max-height: 100%;
  border-radius: 10px;
  border:1px solid #56595D;
}

#search main .box .poster {
  border-radius: 10px 0 0 10px;
  width: 9rem;
  height: 14rem;
  object-fit: cover;
}

#search main .box .image-not-found {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-color: rgb(44, 48, 50);
}

#search main .box .content {
  color: #c7c4bc;
  margin: 1em;
  position:relative;
}

#search main .box .content .title {
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}

#search main .box .content .overview {
  /* only show 3 lines of overview */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#search main .box .content .input-group {
  position:absolute;
  bottom:0;
  width: auto;
}

#search main .box .content .input-group .form-control{
  width: 4rem;
  border-style: solid;
  border-color: #56595D;
}

#search input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  }