<div class="d-flex flex-row mb-3 align-items-center list-section">
  <div class="image p-2">
    <img loading="lazy" src="{{media.image.url}}">
  </div>

  <div class="title p-2 flex-grow-1">{{media.title}}</div>

  {% if media.num_seasons and media.num_seasons != 1 %}
    <div class="score p-2 flex-shrink-0 dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{media.score}}
      </button>
      <ul class="dropdown-menu">
        {% for season, details in media.seasons_details.items %}
          <li>S{{season}}: {{details.score}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="status p-2 flex-shrink-0 dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{media.status}}
      </button>
      <ul class="dropdown-menu">
        {% for season, details in media.seasons_details.items %}
          <li>S{{season}}: {{details.status}}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="score p-2 flex-shrink-0">{{media.score}}</div>
    <div class="status p-2 flex-shrink-0">{{media.status}}</div>
  {% endif %}
  
  <div class="edit p-2 flex-shrink-0">
    <button type="button" class="btn open-modal-button" data-bs-toggle="modal" data-bs-target="#modal-{{media.media_type}}_{{media.media_id}}" data-url="{% url 'edit' media_type=media.media_type media_id=media.media_id %}">
      <i class="bi bi-pen-fill"></i>
    </button>
  </div>
  
  {% include "app/include/media-modal.html" %}

  <div class="delete p-2 flex-shrink-0">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-confirmation-{{media.media_type}}_{{media.media_id}}">
      <i class="bi bi-trash3-fill"></i>
    </button>
  </div>

  <div class="modal fade" id="modal-confirmation-{{media.media_type}}_{{media.media_id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered .modal-sm">
      <div class="modal-content">
        <div class="modal-body p-4 text-center">
          <h5 class="mb-0" >Are you sure?</h5>
        </div>  
        <div class="modal-footer d-flex justify-content-evenly">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="api_origin" value="{{ media.api_origin }}">
            <button class="btn btn-danger modal-delete-btn" type="submit" name="delete" value="{{media.media_id}}">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>