<div class="d-flex flex-row mb-3 align-items-center list-section">
  <div class="image p-2">
    <img loading="lazy" src="{{media.image.url}}">
  </div>

  <div class="title p-2 flex-grow-1">{{media.title}}</div>

  {% if media.seasons.all and media.seasons.all|length != 1 %}
    <div class="score p-2 flex-shrink-0 dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{media.score}}
      </button>
      <ul class="dropdown-menu">
        {% for season in media.seasons.all %}
          <li>S{{season.number}}: {{season.score}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="status p-2 flex-shrink-0 dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{media.status}}
      </button>
      <ul class="dropdown-menu">
        {% for season in media.seasons.all %}
          <li>S{{season.number}}: {{season.status}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="status p-2 flex-shrink-0 dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{media.progress}}
      </button>
      <ul class="dropdown-menu">
        {% for season in media.seasons.all %}
          <li>S{{season.number}}: {{season.progress}}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="score p-2 flex-shrink-0">{{media.score}}</div>
    <div class="status p-2 flex-shrink-0">{{media.status}}</div>
    <div class="status p-2 flex-shrink-0">{{media.progress}}</div>
  {% endif %}
  
  <div class="edit p-2 flex-shrink-0">
    <button type="button" class="btn open-modal-button" data-bs-toggle="modal" data-bs-target="#modal-{{media.media_type}}_{{media.media_id}}" data-url="{% url 'edit' media_type=media.media_type media_id=media.media_id %}">
      <i class="bi bi-pen-fill"></i>
    </button>
  </div>
  
  {% include "app/include/media-modal.html" %}

</div>