<div class="d-flex flex-row flex-wrap mb-3 align-items-center list-section">
  <div class="image p-2">
    {% if not media.image %}
      <div class="image-not-found poster flex-shrink-0"></div>      
    {% else %}
      <img src="{{media.image.url}}">
    {% endif %}
  </div>

  <div class="title p-2">{{media.title}}</div>

  {% if media.num_seasons and media.num_seasons != 1 %}
    <div class="score p-2 dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{media.score}}
      </button>
      <ul class="dropdown-menu">
        {% for season, score in media.seasons_score.items %}
          <li>S{{season}}: {{score}}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="score p-2">{{media.score}}</div>
  {% endif %}

  <div class="status p-2">{{media.status}}</div>
  <form class="input-group edit" method="post">
    {% csrf_token %}

    {% if media.num_seasons and media.num_seasons != 1 %}
      <select name="season" class="form-select">
        {% load extras %}
        {% for i in media.num_seasons|times %}
            <option value="{{forloop.counter}}">S{{forloop.counter}}</option>
        {% endfor %}
      </select>
    {% endif %}
    <select name="status" class="form-select">
      <option value="Completed">Completed</option>
      <option value="Planning">Planning</option>
      <option value="Watching">Watching</option>
      <option value="Paused">Paused</option>
      <option value="Dropped">Dropped</option>
    </select>

    <input type="number" class="form-control bg-dark text-white" name="score" placeholder="0" aria-label="10" maxlength="3" step="0.1" min="0" max="10">
    
    <input type="hidden" name="media_id" value="{{ media.media_id }}">
    <input type="hidden" name="api_origin" value="{{ media.api_origin }}">
    {% if media.num_seasons and media.num_seasons != 1 %}
      <input type="hidden" name="num_seasons" value="{{ media.num_seasons }}">
    {% endif %}
    
    <button class="btn bg-dark text-white" type="submit"><i class="bi bi-check-lg"></i></button>
  </form>
  
  <form class="delete p-2" method="post">
    {% csrf_token %}
    <input type="hidden" name="api_origin" value="{{ media.api_origin }}">
    <button class="btn" type="submit" name="delete" value="{{media.media_id}}"><i class="bi bi-trash3-fill"></i></button>
  </form>
</div>