<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid">
      <form class="d-flex navbar-brand abs input-group" method="post">
        {% csrf_token %}
        <select name="content" class="form-select">
          <option value="multi">TMDB</option>
          <option value="movie">MOVIE</option>
          <option value="tv">SHOW</option>
          <option value="manga">MANGA</option>
        </select>
        <input class="form-control bg-dark text-white" type="text" name="query" placeholder="Search" aria-label="Search" required>
        <button class="btn bg-dark text-white" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active rounded" href="/"> <i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active rounded" href="/"> <i class="bi bi-github"></i> Github</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>