{% load app_tags %}

{% for media in media_list.items %}
  <div class="bg-[#2a2f35] rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 group cursor-pointer">
    <div class="relative overflow-hidden rounded-t-lg">
      <div class="aspect-[2/3] relative">
        <img alt="{{ media }}"
             class="lazyload w-full h-full {% if media.item.image != IMG_NONE %}object-cover object-bottom{% endif %}"
             data-src="{% get_user_poster_image media.item user %}"
             src="{{ IMG_NONE }}">

      {% if media.next_event and not media.next_event.is_max_datetime %}
        <div class="absolute top-2 left-1/2 -translate-x-1/2 flex items-center gap-1.5 bg-black/80 px-2 py-1.5 rounded-md shadow-md whitespace-nowrap max-w-[98%]">
          {% include "app/icons/clock.svg" with classes="w-3.5 h-3.5 text-indigo-400" %}
          <span class="text-xs font-medium text-white drop-shadow-sm truncate">
            {% if media.next_event.content_number %}
              {{ media.item.media_type|short_unit }}{{ media.next_event.content_number }}
            {% else %}
              Release
            {% endif %}

            • {{ media.next_event.datetime|natural_day }} {{ media.next_event.display_time }}
          </span>
        </div>
      {% endif %}

      <a href="{{ media.item|media_url }}" class="absolute inset-0"></a>
      <div class="absolute inset-0 bg-black/0 group-hover:bg-black/20 transition-all duration-200 pointer-events-none"></div>
      </div>
    </div>

    <div class="p-3 space-y-3 rounded-b-lg">
      <a href="{{ media.item|media_url }}"
         class="text-sm font-semibold text-white hover:text-indigo-400 transition duration-300 line-clamp-1 text-center"
         title="{{ media }}">{{ media }}</a>
      <div id="progress-{{ media.item.media_type }}-{{ media.id }}">
        {% include "app/components/progress_changer.html" with media=media csrf_token=csrf_token MediaTypes=MediaTypes only %}
      </div>
    </div>

  </div>
{% endfor %}
