{% load app_tags %}

<div class="bg-[#2a2f35] p-4 rounded-lg overflow-hidden max-w-[calc(100svw-4rem)] overflow-x-scroll media-table">
  <table class="w-full bg-[#2a2f35]">
    <thead class="text-left text-gray-400 text-sm">
      <tr>
        <th class="p-2 w-15"></th>
        <th class="p-2 pe-8 w-2/5">Title</th>
        <th class="p-2 text-center">Score</th>
        {% if media_type != MediaTypes.MOVIE.value %}
          {% if current_sort == "time_left" and media_type == MediaTypes.TV.value %}
            <th class="p-2 text-center">Episodes Left</th>
            <th class="p-2 text-center w-24">Time Left</th>
          {% else %}
            <th class="p-2 text-center">Progress</th>
          {% endif %}
        {% endif %}
        {% if media_type == MediaTypes.TV.value %}<th class="p-2 text-center">Last Watched</th>{% endif %}
        <th class="p-2 text-center">Status</th>
        <th class="p-2 text-center">Start Date</th>
        <th class="p-2 text-center">End Date</th>
      </tr>
    </thead>
    <tbody>
      {% include "app/components/media_table_items.html" %}
    </tbody>
  </table>
</div>
