<button type="button"
        hx-get="/track_form"
        hx-vals='{"title": "{{ title|addslashes }}",
                  "media_type": "{{ media_type }}",
                  "media_id": "{{ media_id }}"
                  {% if season_number %}, "season_number": "{{ season_number }}"{% endif %}}'
        hx-target="#modal-{{ media_type }}_{{ media_id }}{% if season_number %}_{{ season_number }}{% endif %}"
        hx-trigger="click once"
        title="Track"
        class="btn btn-secondary open-modal-btn"
        data-bs-toggle="modal"
        data-bs-target="#modal-{{ media_type }}_{{ media_id }}{% if season_number %}_{{ season_number }}{% endif %}">
  <i class="bi bi-pencil-square"></i>
</button>

<div class="modal fade"
     id="modal-{{ media_type }}_{{ media_id }}{% if season_number %}_{{ season_number }}{% endif %}"
     tabindex="-1"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content media-form-modal"></div>
  </div>
</div>
