{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

  <head>
    {% include "app/include/tags.html" %}    
    <title>Yamtarr</title>
  </head>

  <body id="home">

    {% include "app/include/navbar.html" %}    

    <main>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger">
          {% else %}
            <div class="alert alert-{{ message.tags }}">
          {% endif %}
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      
      <div class="d-md-flex align-items-start main-flex">

        <div class="nav flex-column nav-pills me-3 sticky-lg-top" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% for type, type_data in data.items %}
            <div class="btn-group dropend">
              <button class="nav-link" id="{{type}}-tab" data-bs-toggle="pill" data-bs-target="#{{type}}" type="button" role="tab" aria-controls="{{type}}" aria-selected="false">
                {% if type == "tv"%}
                <span class="left_word">TV</span>
                {% else %}
                <span class="left_word">{{type|capfirst}}</span>
                {% endif %}
                <span class="right_number">{{ type_data.media|length }}</span> 
              </button>
              
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              
              {% if type_data.statuses %}
                <ul class="dropdown-menu filters">
                  {% for status, status_media in type_data.statuses.items %}
                    <li>
                      <button class="nav-link dropdown-item" id="{{type}}-{{status}}-tab" data-bs-toggle="pill" data-bs-target="#{{type}}-{{status}}" type="button" role="tab" aria-controls="v-pills-{{type}}-{{status}}" aria-selected="false">
                        <span class="left_word">{{status|capfirst}}</span> 
                        <span class="right_number">{{ status_media|length }}</span>
                      </button>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="dropdown-menu filters">
                  <li class="text-center">Nothing here</li>
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
    

        <div class="tab-content" id="v-pills-tabContent">
          
          {% for type, type_data in data.items %}
            <div class="tab-pane fade" id="{{type}}" role="tabpanel" aria-labelledby="{{type}}-tab" tabindex="0">
              {% if type == "tv"%}
              <div class="content-title border-bottom">TV</div>
              {% else %}
              <div class="content-title border-bottom">{{type|capfirst}}</div>
              {% endif %}

              {% include "app/include/list-head.html" %}
              {% for media in type_data.media %}
                {% include "app/include/list-section.html" %}    
              {% endfor %}
            </div>

            {% for status, status_media in type_data.statuses.items %}
              <div class="tab-pane fade" id="{{type}}-{{status}}" role="tabpanel" aria-labelledby="{{type}}-{{status}}-tab" tabindex="0">
                {% if type == "tv"%}
                <div class="content-title border-bottom">TV - {{status|capfirst}}</div>
                {% else %}
                <div class="content-title border-bottom">{{type|capfirst}} - {{status|capfirst}}</div>
                {% endif %}
                {% include "app/include/list-head.html" %}

                {% for media in status_media %}
                  {% include "app/include/list-section.html" %}
                {% endfor %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="{% static 'js/modal-load.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
  </body>

</html>
{% endblock %}