{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "app/include/tags.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Yamtarr | Profile</title>
  </head>

  <body id="profile">

    {% include "app/include/navbar.html" %}    

    <main>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger">
          {% else %}
            <div class="alert alert-{{ message.tags }}">
          {% endif %}
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile</legend>
            {{ user_form|crispy }}
            {{ password_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn bg-dark text-white" type="submit">Update</button>
        </div>
      </form>

      <form class="import mt-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="input-group">
          <legend class="border-bottom mb-4">Import</legend>

          <div class="d-lg-flex flex-row justify-content-evenly mb-3" style="width:100%">
            <div class="p-2 d-flex flex-column">
              <div class="import-title">The Movie Database</div>
              <div class="input-group">
                <input type="file" accept=".csv" class="form-control" aria-label="Upload" name="tmdb">
                <button class="btn btn-outline-secondary" type="submit" name="tmdb-btn" value="tmdb-btn"><i class="bi bi-check-lg"></i></button>
              </div>
            </div>
            <div class="p-2 dflex flex-column">
              <div class="import-title">MyAnimeList</div>
              <div class="input-group">
                <input type="text" class="form-control" name="mal" placeholder="MyAnimeList Username">
                <button class="btn btn-outline-secondary" type="submit" name="mal-btn" value="mal-btn"><i class="bi bi-check-lg"></i></button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>

</html>
{% endblock %}