{% extends "base.html" %}
{% load static %}
{% load unicorn %}

{% block content %}
  <div id="details" class="content">
    <div class="header d-flex">
      <div class="image">
        {% if media.image != "none.svg" %}
          <img class="poster" src="{{media.image}}"/>
        {% else %}
          <img class="image-not-found" src="{% get_media_prefix %}none.svg"/>
        {% endif %}
      </div>
      <div class="content flex-fill">
        <div class="title">{{media.title}}</div>

        <div class="start-date">
          <strong>Release date:</strong>
          {{media.start_date}}
        </div>

        <div class="status">
          <strong>Status:</strong> {{media.status}} 
        </div>

        <div class="synopsis">
          <strong>Synopsis:</strong>
          {{media.synopsis}}
        </div>

        {% if media.number_of_seasons %}
        <div class="num_seasons">
          <strong>Seasons:</strong> {{media.number_of_seasons}}
        </div>
        {% endif %}

        <div class="episodes">
          {% if media.num_episodes %} <strong>Episodes:</strong> {{media.num_episodes}}
          {% elif media.num_chapters %} <strong>Chapters:</strong> {{media.num_chapters}}
          {% endif %}
        </div>

        <div class="runtime">
          <strong>Runtime:</strong> {{media.runtime}}
        </div>

        <div class="genres">
          <strong>Genres:</strong>
          {% for genre in media.genres %}
              {{ genre.name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
        
        <div class="media-form">
          {% csrf_token %}
          {% unicorn "media_form" media=media %}
        </div>
      </div>
    </div>

    {% if media.seasons %}
      <div class="list-title"><strong>Seasons</strong></div>
      <div class="list-grid">
        {% for season in media.seasons %}
          <div class="grid-object">
            <div class="season-image">
              {% if season.poster_path %}
                <img class="poster" src="https://image.tmdb.org/t/p/w500{{season.poster_path}}"/>
                {% else %}
                <img class="image-not-found" src="{% get_media_prefix %}none.svg"/>
              {% endif %}
            </div>
            <div class="grid-title">
              <strong>{{season.name}}</strong>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if media.related_anime %}
      <div class="list-title"><strong>Related Animes</strong></div>
      <div class="list-grid">
        {% for related in media.related_anime %}
          <div class="grid-object">
            <div class="related-image">
              {% if related.image != "none.svg" %}
                <img class="poster" src="{{related.image}}"/>
              {% else %}
                <img class="image-not-found" src="{% get_media_prefix %}none.svg"/>
              {% endif %}
            </div>
            <div class="grid-title">
              <strong>{{related.title}}</strong>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if media.related_manga %}
      <div class="list-title"><strong>Related Mangas</strong></div>
      <div class="list-grid">
        {% for related in media.related_manga %}
          <div class="grid-object">
            <div class="related-image">
              {% if related.image != "none.svg" %}
                <img class="poster" src="{{related.image}}"/>
              {% else %}
                <img class="image-not-found" src="{% get_media_prefix %}none.svg"/>
              {% endif %}
            </div>
            <div class="grid-title">
              <strong>{{related.title}}</strong>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if media.recommendations %}
    <div class="list-title"><strong>Recommendations</strong></div>
    <div class="list-grid">
      {% for recommendation in media.recommendations %}
        <div class="grid-object">
          <div class="recommendation-image">
            {% if recommendation.image != "none.svg" %}
              <img class="poster" src="{{recommendation.image}}"/>
            {% else %}
              <img class="image-not-found" src="{% get_media_prefix %}none.svg"/>
            {% endif %}
          </div>
          <div class="grid-title">
            <strong>{{recommendation.title}}</strong>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

  </div>
{% endblock content%}