{% extends "base.html" %}
{% load static %}

{% block content %}
{% if media_dict|length == 0 %}
  <div class="not-found">
    <div>
      <h2 class="alert-heading">No media in progress!</h2>
      <p>The homepage will show the media you are currently consuming.</p>
    </div>
  </div>
  {% else %}
    <div id="home">

      {% for key, media_group in media_dict.items %}
        <div class="container">
          <div class="title">{{ media_group.list_title }}</div>
          <div class="grid">
            {% for media in media_group.media_list %}
              <div class="card text-bg-dark mx-auto">
                <a href="{% url 'details' media_type=media.media_type media_id=media.media_id title=media.title|slugify%}">
                  <img
                    src="{{ media.image.url }}"
                    {% if media.image.url == "/media/none.svg"%}
                      class="card-img open-modal-button image-not-found"
                      {% else %}
                      class="card-img open-modal-button poster"
                    {% endif %}
                    alt="{{ media.title }}"
                  />
                </a>

                <div class="card-img-overlay">
                  <div class="card-title text-center">
                    {{ media.title }}
                    {% if media.season_number != None %}
                      S{{ media.season_number }}
                    {% endif %}
                  </div>
                  <div class="card-text d-flex justify-content-center align-items-center" id="{{media.media_type}}_{{media.media_id}}{% if media.season_number != None %}_{{media.season_number}}{% endif %}">
                    <button type="button" class="btn progress-btn border-0" data-operation="decrement"
                            data-type="{{media.media_type}}" data-id="{{media.media_id}}"
                            {% if media.season_number != None %} data-season-number="{{media.season_number}}" {% endif %}
                            {% if media.progress == 0 %} disabled {% endif %}>
                      -
                    </button>

                    <div class="progress_count">{{ media.progress }}</div>

                    <button type="button" class="btn progress-btn border-0" data-operation="increment"
                            data-type="{{media.media_type}}" data-id="{{media.media_id}}"
                            {% if media.season_number != None %} data-season-number="{{media.season_number}}" {% endif %}>
                      +
                    </button>
                  </div>
                </div>                
              </div>

            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content%}

{% block extra_scripts %}
  <script>
    var csrftoken = '{{ csrf_token }}';
  </script>
  <script src="{% static 'js/progress-edit.js' %}"></script>
{% endblock extra_scripts %}