{% load static %} {% load sass_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keyword" content="Yamtarr" />
    <meta name="description" content="Search and track media on Yamtarr." />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-icons.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% sass_src "css/main.scss" %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="/site.webmanifest">

    <title>Login - Yamtarr</title>
</head>

<body class="text-center d-flex justify-content-center align-items-center">
    
  <div class="form-signin">
    <form method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static "favicon/apple-touch-icon.png" %}" alt="" width="57" height="57">
      <h3 class="h3 mb-3 fw-normal">Log in to Yamtarr</h1>
        
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger">
          {% else %}
            <div class="alert alert-{{ message.tags }}">
          {% endif %}
            {{ message|linebreaksbr }}
          </div>
        {% endfor %}
      {% endif %}
      
      <div class="form-floating">
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required="" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember_me" class="checkboxinput form-check-input" id="id_remember_me"> Remember me
        </label>
      </div>

      <button class="w-100 btn btn-lg btn btn-secondary login" type="submit">Log In</button>

      <div class="mt-5 mb-3 ">
        <small class="text-muted">
          Need An Account? <a class="ml-2" href="{% url 'register' %}">Register Now</a>
        </small>
      </div>
    </form>
  </div>
</body>
</html>
{% endblock %}