{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  <div id="profile">

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger">
        {% else %}
          <div class="alert alert-{{ message.tags }}">
        {% endif %}
          {{ message|linebreaksbr }}
        </div>
      {% endfor %}
    {% endif %}
    
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile</legend>
        {{ user_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-submit bg-dark rounded" type="submit">Update</button>
      </div>
    </form>
    <form method="POST" class="mt-5">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Password Update</legend>
        {{ password_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-submit bg-dark rounded" type="submit">Update</button>
      </div>
    </form>

    <div class="mb-3 mt-5">
      <legend class="border-bottom mb-4">Import</legend>

      <fieldset class="input-group grid-container">
        <form class="p-2 grid-item" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-title">The Movie Database</div>
          <button name="tmdb" class="btn btn-submit bg-dark rounded-end w-100" type="submit">TMDB Authentication</button>
        </form>

        <form class="p-2 grid-item" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-title">MyAnimeList</div>
          <div class="input-group">
            <input type="text" class="form-control" name="mal" placeholder="MyAnimeList Username">
            <button class="btn btn-submit bg-dark rounded-end" type="submit"><i class="bi bi-check-lg"></i></button>
          </div>
        </form>
        
        <form class="p-2 grid-item" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-title">AniList</div>
          <div class="input-group">
            <input type="text" class="form-control" name="anilist" placeholder="AniList Username">
            <button class="btn btn-submit bg-dark rounded-end" type="submit"><i class="bi bi-check-lg"></i></button>
          </div>
        </form>
      </fieldset>
    </div>

  </div>

{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/spinner.js' %}"></script>
{% endblock %}