{% extends "base.html" %}
{% load static %}

{% block title %}Register - Yamtrack{% endblock %}

{% block body %}

<body class="text-center d-flex justify-content-center align-items-center" id="register">
    
  <div class="form-signin">
    <form method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static "favicon/apple-touch-icon.png" %}" alt="logo" width="58" height="58">
      <div class="mb-3 header-text">Register to Yamtrack</div>
      
      {{ form.non_field_errors }}

      {% for field in form %}
        {% if field.errors %}
          <div class="alert alert-danger error-div">
            {% for error in field.errors%}
              <p> {{ error }} </p>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}

      {% for field in form %}
        <div class="form-floating">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
      {% endfor %}

      <button class="w-100 btn btn-lg btn btn-secondary" type="submit">Sign Up</button>

      <div class="mt-5 mb-3 ">
        <small class="text-muted">
          Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
      </div>
    </form>
  </div>
</body>
</html>
{% endblock %}