{% extends "base.html" %}
{% load static %}
{% load app_extras %}

{% block title %}Search - Yamtrack{% endblock %}

{% block content %}
  {% comment %} MAL returns "error":"bad_request"  {% endcomment %}
  {% if not query_list%}
    <div class="no-content">
      <div>
        <h2 class="alert-heading text-center">No results found!</h2>
        <p>Try searching for something else.</p>
      </div>
    </div>
  {% else %}
    <div id="search">
      <div class="container grid">
        {% for media in query_list %}
          <div class="card text-bg-dark mx-auto">
            <a href="{% url 'media_details' media_type=media.media_type media_id=media.id title=media.title|slugify%}">
              <img
                {% if media.image == "none.svg" %}
                  src="{% get_media_prefix %}{{media.image}}"
                  class="card-img image-not-found"
                  {% else %}
                  src="{{media.image}}"
                  class="card-img poster"
                {% endif %}

                alt="{{ media.title }}"
              />
            </a>

            <div class="card-img-overlay">
              <div class="card-title text-center">
                {{ media.title }}
              </div>
              <div class="card-text d-flex justify-content-center align-items-center">
                {% if media.original_type == "tv" %}
                  TV
                {% else %}
                  {{media.original_type|capfirst}}
                {% endif %}
                <button type="button" class="btn open-modal-button" data-bs-toggle="modal" data-bs-target="#modal-{{media.media_type}}_{{media.media_id}}" data-type="{{media.media_type}}" data-id="{{media.media_id}}">
                  <i class="bi bi-pencil-square"></i>
                </button>
        
              </div>

            </div>
          </div>
          {% include "app/include/modal.html" with form_id=media.media_type|addstr:"_"|addstr:media.media_id title=media.title only %}    
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/modal-load.js' %}"></script>
{% endblock extra_scripts %}