{% extends "base.html" %}
{% load static %}
{% load unicorn %}

{% block content %}

  <div id="search">
      
    {% if query_list|length == 0 or "error" in query_list %}
      <h2 class="alert-heading">No results found!</h2>
      <p>Try searching for something else.</p>
    {% else %}
      <div class="grid">
        {% for media in query_list %}
          {% if media.media_type == "tv" or media.media_type == "movie" or media.media_type == "anime" or media.media_type == "manga" %}
            <div class="card text-bg-dark mx-auto">
              <img
                {% if media.image == "none.svg" %}
                  src="{% get_media_prefix %}none.svg"
                  class="card-img image-not-found"
                  {% else %}
                  src="{{media.image}}"
                  class="card-img poster"
                {% endif %}
                alt="{{ media.title }}"
              />
              <div class="card-img-overlay">
                <div class="card-title text-center">
                  {{ media.title }}
                </div>
                <div class="card-text d-flex justify-content-center align-items-center">
                  {% if media.original_type == "tv" %}
                    TV
                  {% else %}
                    {{media.original_type|capfirst}}
                  {% endif %}
                  {% csrf_token %}
                  {% unicorn "media_form" media=media %}
                </div>

              </div>
            </div>
            
          {% endif %}
              
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock %}