{% extends "base.html" %}
{% load static %}
{% load app_extras %}

{% block content %}
  <div id="details">
    <div class="header d-flex">
      <div class="image">
        {% if season.image != "none.svg" %}
          <img class="poster" src="{{season.image}}" alt="{{ season.name }}" />
        {% else %}
          <img class="image-not-found" src="{% get_media_prefix %}{{season.image}}" alt="season.name"/>
        {% endif %}
      </div>
      <div class="content d-flex flex-column align-items-start">

        <div class="title w-100">{{season.name}}</div>

        <div class="show-title w-100">
          <a href="{% url 'media_details' media_type="tv" media_id=media_id title=media_title|slugify %}">
            {{media_title|capfirst}}
          </a>
        </div>

        <div class="start-date">
          <strong>Release date:</strong>
          {{season.start_date}}
        </div>

        <div class="synopsis">
          <strong>Synopsis:</strong>
          {{season.synopsis}}
        </div>

        <div class="episodes-num">
            <strong>Total Episodes: {{ season.episodes|length }}</strong>
        </div>
        
        <div class="buttons-group">
          <button type="button" title="Track" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-tv_{{media_id}}_{{season.season_number}}" 
          data-type="tv" data-id="{{media_id}}" data-season-number="{{season.season_number}}">
            <i class="bi bi-pencil-square"></i>
          </button>
          {% include "app/include/modal.html" with form_id="tv"|addstr:"_"|addstr:media_id|addstr:"_"|addstr:season.season_number title=media_title|capfirst media_id=media_id media_type="tv" season_number=season.season_number csrf_token=csrf_token only %}
          
          {% comment %} check for not None because Season 0 evaluates to false {% endcomment %}
          {% if previous_season != None %}
            <a href="{% url 'season_details' media_id=media_id title=media_title|slugify season_number=previous_season %}" title="Previous Season" class="btn btn-secondary ms-1">
              <i class="bi bi-chevron-double-left"></i>
            </a>
          {% else %}
            <a class="btn btn-secondary disabled ms-1">
              <i class="bi bi-chevron-double-left"></i>
            </a>
          {% endif %}

          {% if next_season != None %}
            <a href="{% url 'season_details' media_id=media_id title=media_title|slugify season_number=next_season %}" title="Next Season" class="btn btn-secondary ms-1">
              <i class="bi bi-chevron-double-right"></i>
            </a>
            {% else %}
            <a class="btn btn-secondary disabled ms-1">
              <i class="bi bi-chevron-double-left"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <form class="episode-list" method="post">
      {% csrf_token %}
      <input type="hidden" name="media_id" value="{{media_id}}">
      <input type="hidden" name="media_type" value="tv">
      <input type="hidden" name="season_number" value="{{season.season_number}}">
      
      <div class="d-flex justify-content-between align-items-center episode">
        <div class="p-2 check-div">
          <input type="checkbox" class="form-check-input select-all">
        </div>
        <div class="p-2 episode-number"><strong>Episode</strong></div>
        <div class="p-2 episode-name"><strong>Name</strong></div>
        <div class="p-2 episode-date"><strong>Release Date</strong></div>
        <div class="p-2 watch-status"><strong>Status</strong></div>
      </div>
      {% for episode in season.episodes %}
      <div class="d-flex justify-content-between align-items-center episode">
        <div class="p-2 check-div">
          <input type="checkbox" class="form-check-input check-episode" name="episode_number" value="{{episode.episode_number}}">
        </div>

        <div class="p-2 episode-number">{{episode.episode_number}}</div>
        <div class="p-2 episode-name">{{episode.name}}</div>
        <div class="p-2 episode-date">{{episode.air_date}}</div>
        <div class="p-2 watch-status">
          {% if episode.watched %}
            <i class="bi bi-eye-fill"></i>
          {% else %}
            <i class="bi bi-eye-slash-fill"></i>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mt-4 mb-2">When did you watch the episode(s)?</div>

        <div class="btn-group flex-wrap">
          <button type="submit" class="btn btn-release-date flex-fill" name="release">Release</button>

          <div class="d-flex date-btn-group flex-fill">
            <input type="date" class="form-control bg-dark text-white" name="date" value="{% now "Y-m-d" %}">
            <button type="submit" class="btn bg-dark"><i class="bi bi-check-circle-fill"></i></button>
          </div>

          <button type="submit" class="btn btn-danger flex-fill" name="unwatch">Unwatch</button>
        </div>
      </div>
    </form>

  </div>
{% endblock content%}

{% block extra_scripts %}
  <script src="{% static 'js/modal-load.js' %}"></script>
  <script>
    document.querySelector('.select-all').addEventListener('click', function() {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]:not(.select-all)');
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = this.checked;
      }
    });
  </script>
{% endblock extra_scripts %}